html,body {
  width: 100%;
  height: 100vh;
}

.title {
  margin: 2.5rem; 
}

.label-modify {
  white-space: nowrap;
}

.btn-modify {
  margin: 1rem;
  width: 100%;
}
.pagination .page-link {
  color: black;
}

textarea {
  border: 1px solid black;
}

/* .original-poster */