html,
body,
nav,
div,
article,
aside,
footer {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}
nav,
article,
aside,
footer,
main,
header {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
