$base-font-size: 16px;

$color: (
  nav-bg: rgba(255, 255, 255, 0.97),
  // text
  main: rgba(0, 0, 0,0.95),
  text: rgba(55, 55, 55, 0.89),
  info: rgba(0, 0, 0, 0.54),
  info-title :rgb(84, 84, 84),
  // btn 
  btn: #1c9963,
  btn-border: #02bb75,
  // tag 
  tag-bg: rgba(221, 221, 221, 0.3)
);
