@charset "UTF-8";
html,
body,
nav,
div,
article,
aside,
footer {
  margin: 0;
  padding: 0;
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}

nav,
article,
aside,
footer,
main,
header {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

.nav__logo, .nav__button, .aside__info--icons, .follow-btn {
  cursor: pointer;
}

.article__title, .article__main, .article__main blockquote {
  font-family: serif;
}

.article__main h3 {
  font-family: sans-serif;
}

/* --- 刊頭 --- */
nav {
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.97);
  z-index: 100;
  -webkit-box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
  white-space: nowrap;
}

.nav__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1050px;
  margin: 0 auto;
  padding: 0 20px;
}

.nav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__logo--pipe {
  border: 0.5px solid #d0cfcf;
  width: 0.5px;
  height: 30px;
  margin: 0 15px;
}

.nav__logo--blog-name {
  font-family: "Franklin Gothic Medium";
  font-size: 26px;
  font-weight: 500;
  line-height: 37px;
}

.nav__button {
  font-family: "Arial";
  width: 179px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px 0;
  font-size: 16px;
  color: #1c9963;
}

.nav__button--sign-in-btn {
  line-height: 22px;
}

.nav__button--get-start-btn {
  height: 37px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0.5px solid #02bb75;
  font-weight: 400;
  line-height: 37px;
  padding: 0 16px;
  border-radius: 4px;
}

/* -- main content -- */
main {
  letter-spacing: 0.02em;
  line-height: 1.5;
  max-width: 740px;
  margin: 120px auto;
}

article {
  overflow: hidden;
  font-weight: 300;
  padding: 0 20px;
}

.article__title {
  font-size: 2.5rem;
  line-height: 1.5;
  margin: 20px 0;
}

.article__author--avatar {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 25px;
  margin-right: 10px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.95);
}

.article__author--name, .article__author--follow-btn {
  display: inline-block;
}

.article__author--follow-btn .follow-btn {
  height: 1.25rem;
  line-height: 1.25rem;
  margin-left: 10px;
}

.article__main {
  font-size: 1.25rem;
  line-height: 1.5;
}

.article__main blockquote {
  font-size: 1.75rem;
  font-style: italic;
  padding-left: 50px;
  line-height: 1.5;
}

.article__main h3 {
  font-size: 2rem;
  font-weight: 600;
  margin: 56px 0 5px 0;
  color: rgba(0, 0, 0, 0.95);
}

.article__main img {
  width: 100%;
  height: auto;
}

.article__main--caption {
  font-family: "Arial";
  font-size: 16px;
  text-align: center;
  margin: 10px;
  color: rgba(0, 0, 0, 0.54);
}

.article__main--tag > ul {
  padding: 20px;
}

.article__main--tag > ul > li {
  display: inline-block;
  padding-right: 3px;
}

.article__main--tag > ul > li a.tag {
  text-decoration: none;
  font-size: 16px;
  border-radius: 1px;
  padding: 5px 12px;
  background: rgba(221, 221, 221, 0.3);
  color: rgba(0, 0, 0, 0.54);
}

hr {
  border: 0px;
  background: rgba(0, 0, 0, 0.54);
  height: 1px;
  margin: 1.5em 0;
}

.article__bottom--author-info,
.author-info__avatar,
.author-info__avatar-pub,
.author-info__detail,
.author-info__follow-btn {
  display: inline-block;
  vertical-align: top;
}

.article__bottom--author-info {
  width: 48%;
  height: auto;
  margin: 10px auto;
  padding: 0 5px;
  white-space: nowrap;
}

.article__bottom--author-info .author-info__detail {
  width: 49%;
  height: auto;
  padding: 0 15px;
  white-space: normal;
}

.article__bottom--author-info .author-info__detail h5 {
  font-family: "Franklin Gothic Medium";
  font-size: 1.25rem;
  color: #545454;
  font-weight: 600;
  margin: 0;
}

.article__bottom--author-info .author-info__detail h6 {
  font-size: 15px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.54);
  margin: 0;
}

.article__bottom--author-info .author-info__detail p {
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
}

.article__bottom--author-info .author-info__avatar,
.article__bottom--author-info .author-info__avatar-pub {
  width: 60px;
  height: 60px;
  margin-left: 10px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.54);
}

.article__bottom--author-info .author-info__avatar-pub,
.article__bottom--author-info .author-info__avatar-pub-pub {
  border-radius: 2px;
}

/* -- aside info -- */
aside {
  max-width: 740px;
  position: fixed;
  top: 0px;
}

.aside__info {
  position: absolute;
  top: 180px;
  left: -160px;
  width: 130px;
}

.aside__info > .follow-btn {
  margin-top: 15px;
}

.aside__info--title {
  font-family: "Franklin Gothic Medium";
  font-size: 20px;
  line-height: 30px;
  color: #545454;
}

.aside__info--detail {
  font-size: 16px;
  line-height: 20px;
  color: #8f8e8e;
  letter-spacing: 1.5;
}

.aside__info--icons {
  text-align: left;
}

.aside__info--icons ul {
  margin: 0;
  padding: 0;
}

.aside__info--icons ul-clap::after {
  vertical-align: 50%;
  content: "1.4K";
  font-size: 0.875rem;
}

.aside__info--icons ul-clap-svg {
  fill: #02bb75;
}

.follow-btn {
  font-family: "Arial";
  font-size: 16px;
  width: 67px;
  height: 32px;
  line-height: 2;
  text-align: center;
  border-radius: 4px;
  color: #1c9963;
  border: 0.5px solid #02bb75;
}

.icons__social {
  margin-top: 5px;
}

.icons__clap-b,
.icons__social-b,
.icons__clap-svg-o,
.icons__clap-count {
  width: 48%;
  display: inline-block;
  vertical-align: middle;
  margin: 10px auto;
  padding: 0 5px;
  white-space: nowrap;
}

.icons__clap-svg-o {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-left: 10px;
  border: 0.5px solid #02bb75;
}

svg.icons__clap-svg-b {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.icons__clap-count {
  width: 68%;
}

.icons__social-b {
  text-align: right;
  padding-right: 10px;
}

@media screen and (max-width: 1060px) {
  aside {
    display: none;
  }
  blockquote {
    padding-left: 40px;
  }
}

@media screen and (max-width: 735px) {
  .icons__social-b {
    display: block;
    width: 100%;
    text-align: left;
    padding-left: 20px;
  }
}

@media screen and (max-width: 630px) {
  .article__author-info {
    width: 100%;
    display: block;
  }
  .icons__social-b {
    display: block;
    width: 100%;
    text-align: left;
    padding-left: 20px;
  }
  blockquote {
    padding-left: 30px;
  }
  .nav__logo--blog-name,
  .nav__button--sign-in-btn {
    display: none;
  }
  .nav__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=main.css.map */